name: Deploy to Producation

on:
  push:
    branches: [main]
    paths:
      - "api/**"
      - "docker-compose.yml"
      - ".github/workflows/deploy-api.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          key: ${{secrets.SSH_KEY}}
          script: |
            cd /home/rared/api

            cat > .env << EOF
            NEST_API_PORT=${{ secrets.NEST_API_PORT }}
            FIREBASE_SERVICE_ACCOUNT_KEY=${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}
            NODE_ENV=production
            POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}
            POSTGRES_USER=${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_DB=${{ secrets.POSTGRES_DB }}
            EOF

            git pull origin main
            docker-compose down
            docker-compose up -d --build

            docker-compose exec -T nest-api npx prisma migrate deploy

            docker-compose ps
